
 <div id="nav">
        <div class="navbar-fixed">
            <nav class="red lighten-1" role="navigation">

                <div class="nav-wrapper container"><a id="logo-container"  href="/home" class="brand-logo" style="color: white; font-family:'Suez One', serif">ToySwap</a>

                    <ul class="right hide-on-med-and-down">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/login">Login</a></li>
                        
                    </ul>
                    <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                   
                </div>
            </nav>
        </div>
    </div>
    {{#each toy}}
    <div class="row">
        <br>
        <div class="col m12 text-center">
            <div>
                <div class="row">
                    <div class="col m6">
                        
                            <img src="{{url}}" class='viewImg' data-toy="{{User.id}}" alt="{{title}}">
                            <div class="center-block">
                            <div>
                                
                            </div>
                           
                        </div>
                        </div>
                   
                    <div class="col m4 text-left">
                        <div class="col m-2">
                            <div class="pl-2 pt-3">
                                <span id="title" style="font-size: 25px; font-weight: 700;">{{title}}</span>
    <!-- FOR CHAT DONT DELETE--><span id='itemsInfo' attrId='{{id}}' attrUser='{{User.id}}'></span>
                            </div>
                            <hr>
                            <div class="m-3">
                                <!-- Modal -->
                                <div id="myModal" class="modal">
                                    <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <p id='modalPMsg'></p>
                                        <div id='allModalBtns'>
                                            <button class="modal-action waves-effect waves col s12 red lighten-1" id='modalOfferBtn'>Offer</button>
                                            <button class="modal-action waves-effect waves col s12 red lighten-1" id='modalCancelBtn'>Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- ******** -->
                                
                                <div class="d-inline-block ml-2">
                                    <div class="text-right" style="font-size: 12px; color: red" > {{product_condition}}</div>
                                    <div class="text-left" style="font-size: 25px; font-weight: 700">${{price}}</div>
            
                                    
                                    <div class="right-align" style="font-size: 15px">
                                     <i class="material-icons black-text">star</i>
                                            <span id="text-one"> Add to Watch list</span>
                                             <br>
                                             <span id="text-two">5 people watching</span>
                                    </div>
                                    <div class="right-align" style="font-size: 15px;">{{availability}}  in stock</div>
                                </div>

                                <div class="d-inline-block">
                                    <div class="text-right">Username: {{User.username}}</div>
                                    {{!--
                                    <div class="text-right">City, State:</div> --}}
                                    <div class="text-right">Email: {{User.email}}</div>
                                </div>

                            </div>
                            <div id="dataContBot" class="pr-3">

                                <div class="ml-3 mt-2" id="tests" >
                                    <div class="pt-2 font-weight-bold" style="font-size: 18px; font-weight: 700; magin-top: 20px;">Owner Contact Information:</div>

                                    <hr>
                                    <div class="d-inline-block">
                                        <img class="avatar vertical-middle" src="https://vignette.wikia.nocookie.net/logopedia/images/4/4c/Walmart-logo-new.jpg/revision/latest/scale-to-width-down/639?cb=20130919205844g"
                                    width="100" height="30">
                                        {{!-- <div class="text-right">City, State:</div> --}}

                                        <div class="text-right">{{User.email}}</div>


                                        <br>
                                    </div>
                                    {{!-- <div class="d-inline-block mb-3">
                                        <div class="text-left ml-2">John Doe</div>
                                        <div class="text-left ml-2">Newark, NJ</div>
                                        <div class="text-left ml-2">johndoe@gmail.com</div>
                                    </div> --}}
                                    <div class="mb-3">
                                        <div class="row pb-2">
                                            <div class="col-md-6">
                                               

                                                {{!-- <button class="btn waves-effect waves col s4  grey offset-s1"id="tradeBtn">Offer Trade</button> --}}
                                                <button class="btn waves-effect waves col s4  grey offset-s1" data-toggle='tooltip' 
                                                title='Not Available for chat.' data-placement="top" id="chatBtn">Chat</button>
                                            </div>
                                            
                                            <div class="col m-6 right-align">
                                                <a href="#">
                                                       
                                                        <br>

                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;

                                                        &nbsp;&nbsp;
                                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                                        &nbsp;&nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        &nbsp;
                                                        <span>Ask a Question</span>
                                                        <img src="/assets/img/questionIcon.png" id="qIcon" alt="Img not found." class="mt-2">
                                                        
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col m6 text-center">

                <fieldset id="field-set">

                    <legend id="idLegend"  style="font-size: 18px; font-weight: 500">Description/Additional Info</legend>
                    <p style="font-size: 15px">{{description}}</p>
                </fieldset>
            </div>
            <div class="col m6 text-center">
                <div id='chatDiv' class="m3 m1">
                    <div id="topDiv">
                        <div id="msgDiv" class="m4 m3 p1 m1 text-left"></div>
                    </div>
                    <div id="bottDiv">

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
{{/each}}

<!-- Modal Trigger -->
<button data-target="swap" id="swap-{{id}}" class="btn-large modal-trigger waves col s12 red lighten-1" style="margin:1em;width:50%">Swap Me!</button>
{{!-- <h5>Click below to swap</h5>
<a href="#swap" data-target="swap" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> --}}
<!-- Modal Structure -->
<div id="swap" class="modal">

    <div class="modal-content">
        <h3>Which toy would you like to swap?</h3>
        {{#each swapables}}
        <div class="col s6" style=" border-radius: 5px; width: 230px">
            <div class="item-container">
                <div class="item-pic">
                        <img class="vertical-middle" id="{{username}}" width="200" height="160" src="{{url}}" alt="{{title}}" style="margin-top: 10px">
                </div>

                <a class="btn-floating btn-large waves-effect waves-light red swapMe" id="swap-{{id}}"><i class="material-icons">add</i></a>
                <span class="title-{{id}}">{{title}}</span>
            </div>
        </div>
        {{/each}}

            <div class="modal-footer">
                <a href="#swap" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </div>
    
            <footer class="page-footer">
                <div class="container">
                    <div class="row">
                        <div class="col l6 s12" id="group-div">
                            <h5 class="white-text">Project 2 Group Members</h5>
                            <ul>
                                <a class="white-text" href="https://github.com/Dquez">
                                    <li>Dariell Vasquez</li>
                                </a>
                                <a class="white-text" href="https://github.com/dogrock2">
                                    <li>Alexander Nieves</li>
                                </a>
                                <a class="white-text" href="https://github.com/yubinjamora">
                                    <li>Yubin Jamora</li>
                                </a>
                                <a class="white-text" href="https://github.com/nolanconorj">
                                    <li>Conor Nolan</li>
                                </a>
                            </ul>


                        </div>

                        <div class="col l6 s12" id="connect-div">
                            <h5 class="white-text">Connect With Us!</h5>
                            <ul>
                                <li>
                                    <a class="white-text" href="https://www.linkedin.com/in/dariellvasquez7">LinkedIn - Dariell</a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://www.linkedin.com/in/alexander-nieves-a04b76b1/">LinkedIn - Alex</a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://www.linkedin.com/in/yubin-jamora-410b02b5/">LinkedIn - Yubin</a>
                                </li>
                                <li>
                                    <a class="white-text" href="https://www.linkedin.com/in/conorjamesnolan/">LinkedIn - Conor </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!--  Scripts-->
                <div class="hiddendiv common"></div>
                <div class="drag-target" data-sidenav="nav-mobile" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); left: 0px;"></div>
                <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
                <script src="/assets/js/products.js"></script>
